<nav class="side-menu">
  <div class="menu-content">
    <a class="menu-item" [routerLink]="['/home']">HOME</a>
    <a class="menu-item" [routerLink]="['/shop']">SHOP</a>
    <a class="menu-item" [routerLink]="['/products']">PRODUCTS</a>
    <a class="menu-item" [routerLink]="['/cart']">CART</a>
    <a class="menu-item" [routerLink]="['/aboutus']">About Us</a>
    <a class="menu-item" [routerLink]="['/contactus']">Contact Us</a>
    <a class="menu-item" [routerLink]="['/sign-in']">Sign IN</a>
    <a class="menu-item" [routerLink]="['/sign-up']">Sign UP</a>
  </div>
</nav>
