<nav class="side-menu">
  <div class="menu-header">
    <img src="assets/logo.jpg"alt="Logo" class="menu-logo">
    <span class="menu-title">Amado Interiors</span>
  </div>
  <div class="menu-content">
    <a class="menu-item" [routerLink]="['/home']">HOME</a>
    <a class="menu-item" [routerLink]="['/shop']">SHOP</a>
    <a *ngIf="isAdmin" class="menu-item" [routerLink]="['/products']">PRODUCTS</a>
    <a class="menu-item" [routerLink]="['/cart']">CART</a>
    <a class="menu-item" [routerLink]="['/contactus']">ABOUTUS</a>
    <a class="menu-item" [routerLink]="['/sign-in']">SIGN IN</a>
    <a class="menu-item" [routerLink]="['/sign-up']">SIGN UP</a>
    <button *ngIf="isLoggedIn" (click)="logout()">LOGOUT</button>
  </div>
</nav>
