.side-menu {
    width: 100%;
    background-color: #5f9ea0;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .menu-logo {
    width: 100px;
    height: 70px;
  }
  
  .menu-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
  }
  
  .menu-content {
    display: flex;
    flex-direction: row; /* Display menu items in a row */
    justify-content: space-around; /* Space out the menu items */
    width: 100%;
  }
  
  .menu-item {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; /* Add some padding around the items */
  }
  
  .menu-item:hover {
    background-color: #444;
    border-radius: 4px; /* Rounded corners on hover */
  }
  button {
    background-color: cadetblue; /* Red background for the logout button */
    color: white; /* White text color */
    border: none;
    padding: 10px;
    margin-top: auto; /* Push the button to the bottom */
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #444; /* Darker red on hover */
  }
  
  button:focus {
    outline: none; /* Remove default focus outline */
  }
  