<div class="container">
  <div class="brand-logo"></div>
  <img src="assets/logo.jpg" alt="Logo" class="custom-logo" />
  <div class="brand-title">SIGN UP</div>
  <form (ngSubmit)="signUp()" #signUpForm="ngForm" class="inputs">
    <label for="signUpFullName">FULL NAME</label>
    <input id="signUpFullName" [(ngModel)]="signUpFullName" name="fullName" #fullName="ngModel" placeholder="John Doe" required />
    <div *ngIf="signUpForm.submitted && !fullName.valid" class="error">Full Name is required</div>
    
    <label for="signUpEmail">EMAIL</label>
    <input id="signUpEmail" type="email" [(ngModel)]="signUpEmail" name="email" #email="ngModel" placeholder="example@test.com" required />
    <div *ngIf="signUpForm.submitted && (!email.valid || email.errors?.['email'])" class="error">Invalid email address</div>
    
    <label for="signUpPhone">PHONE NUMBER</label>
    <input id="signUpPhone" [(ngModel)]="signUpPhone" name="phone" #phone="ngModel" placeholder="1234567890" required pattern="^[0-9]{10}$" />
    <div *ngIf="signUpForm.submitted && (!phone.valid || phone.errors?.['pattern'])" class="error">Phone number must be 10 digits</div>
    
    <label for="signUpPassword">PASSWORD</label>
    <input id="signUpPassword" type="password" [(ngModel)]="signUpPassword" name="password" #password="ngModel" placeholder="Min 6 characters long" required minlength="6" />
    <div *ngIf="signUpForm.submitted && (!password.valid || password.errors?.['minlength'])" class="error">Password must be at least 6 characters long</div>
    
    <label for="signUpConfirmPassword">CONFIRM PASSWORD</label>
    <input id="signUpConfirmPassword" type="password" [(ngModel)]="signUpConfirmPassword" name="confirmPassword" #confirmPassword="ngModel" placeholder="Re-enter your password" required />
    <div *ngIf="signUpForm.submitted && signUpPassword !== signUpConfirmPassword" class="error">Passwords do not match</div>
     <button type="submit">SIGN UP</button>
  </form>
</div>
