<!-- <main class="content">
    <ng-container *ngSwitchDefault>
      <section class="image-grid">
        <div class="grid-item"><img src="/assets/im.png" alt="Product 1"></div>
        <div class="grid-item"><img src="/assets/hd5.png" alt="Product 2"></div>
        <div class="grid-item"><img src="/assets/hd1.png" alt="Product 3"></div>
        <div class="grid-item"><img src="/assets/hd4.png" alt="Product 4"></div>
        <div class="grid-item"><img src="/assets/im4.png" alt="Product 5"></div>
        <div class="grid-item"><img src="/assets/t6.png" alt="Product 6"></div>
      </section>
    </ng-container>
</main> -->

<main class="content">
  <section class="image-grid">
      <div class="grid-item"><img src="assets/im.png" alt="Product 1"></div>
      <div class="grid-item"><img src="assets/hd5.png" alt="Product 2"></div>
      <div class="grid-item"><img src="assets/hd1.png" alt="Product 3"></div>
      <div class="grid-item"><img src="assets/hd4.png" alt="Product 1"></div>
      <div class="grid-item"><img src="assets/im4.png" alt="Product 2"></div>
      <div class="grid-item"><img src="assets/t6.png" alt="Product 3"></div>
  </section>
</main>